# sequence
*.fa
*.fq
*.fp
*.fasta
*.fastp
*.pmap
*.merged
*.stopfilt
*.stoptags
*.info
*.ht
*.part
*.tagset
*.keep

# blastdb files
*.phr
*.pin
*.psd
*.psi
*.psq
*.nhr
*.nin
*.nsd
*.nsi
*.nsq
*.blastx
*.blastp

# data output
*.csv
*.pcounts
*.kcounts
*.mers
*.gz
*.psl
*.pgc

# py
*.pyc

#tex
*.aux
*.bbl
*.log
*.out
*.blg
